<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源新增修改页面</title>

    <!--js 插件引入-->
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/plugin/bootstrap/css/bootstrapValidator.css}" />

    <script th:src="@{/plugin/bootstrap/js/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrapValidator.min.js}" type="text/javascript"></script>
    <script th:src="@{/plugin/bootstrap/js/bootstrap.extend.js}" type="text/javascript"></script>

    <script th:src="@{/js/myUtil_1.2.1.js}"></script>
</head>
<body style="width: 99%">
    <div style="width: 88%; margin-top: 2%; margin-left: 3%">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="res_name" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源名称：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important;">
                <input type="text" class="form-control" id="res_name" placeholder="请输入资源名称">
            </div>
        </div>

        <div class="form-group">
            <label for="name_space" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源空间：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important;">
                <input type="text" class="form-control" id="name_space" placeholder="请输入资源空间">
            </div>
        </div>

        <div class="form-group">
            <label for="res_icon" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源图标：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important;">
                <input type="text" class="form-control" id="res_icon" placeholder="请输入资源图标" style="width: 50%">
                <label>资源图标为bootstrap所支持的Glyphicons字体图标.<a href="javascript:openNewWindowTab('https://v3.bootcss.com/components/#glyphicons')">【案例见】</a></label>
            </div>
        </div>

        <div class="form-group">
            <label for="res_type" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源类型：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important;">
                <select class="form-control" id="res_type">
                    <option value="">请选择</option>
                    <option th:value="1">菜单</option>
                    <option th:value="2">连接</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="res_url" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源连接：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important; width: 60%">
                <input type="text" class="form-control" id="res_url" placeholder="请输入资源连接">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源状态：</label>
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox" style="float: left"><label><input type="radio" name="res_status" value="0" checked="checked">启用&nbsp;&nbsp;&nbsp;</label></div>
                <div class="checkbox" style="float: left"><label><input type="radio" name="res_status" value="1">禁用&nbsp;&nbsp;&nbsp;</label></div>
            </div>
        </div>

        <div class="form-group">
            <label for="res_sort" class="col-sm-2 control-label" style="float: left; margin-top: 1%">资源排序：</label>
            <div class="col-sm-10" style="float: left; padding-left: 0 !important;">
                <input type="text" class="form-control" id="res_sort" placeholder="请输入资源排序值">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10" style="margin-top: 5%">
                <span style="margin-left: 20%"></span>
                <button type="submit" id="btn_ok" class="btn btn-default">提交</button>
                <span style="margin-left: 20%"></span>
                <button type="reset" id="btn_reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
    </div>
</body>
<script th:inline="javascript">
    var action = [[${param.action}]];
    var parentId = [[${param.parentId}]];
    var sysResId = [[${param.sysResId}]];
    console.log(action);

    //****************************************** ajax 后台交互初始化定义 start
    ajaxSub.postUrl = '/sys/menu/addOrUpdateNew';
    ajaxSub.headers = {'X-CSRF-TOKEN': [[${_csrf.token}]]};
    ajaxSub.rvPostFunc = function (rvData) {
        if (rvData.code === 200){
            window.parent.myBootstrapTable.reload();
            window.parent.myIZIMoal.close();
        }else{
            console.log(rvData);
            alert("错误")
        }
    };

    ajaxSub.rvGetFunc = function (rvData) {
        console.log(rvData);
        var sysResBean = rvData.result;
        //数据回显
        $("#res_icon").val(sysResBean.icon);
        $("#name_space").val(sysResBean.nameSpace);
        $("#res_name").val(sysResBean.name);
        $("#res_url").val(sysResBean.url);
        $("#res_type option[value='"+sysResBean.type+ "']").attr("selected","selected");
        $("#res_sort").val(sysResBean.sort);
        $("input[type='radio'][name='res_status'][value='"+sysResBean.status+"']").attr("checked","checked");
    };
    //****************************************** ajax 后台交互初始化定义 end

    $(function(){
        if (action[0] === 'add'){//新增页面
            //.... do somethings;
            sysResId = [];
        } else if (action[0] === 'update'){//修改页面
            if(sysResId != null && sysResId.length > 0){
                ajaxSub.getUrl = '/sys/menu/obtainOne/' + sysResId[0];
                ajaxSub.getData();
            }
        }
        initPageEvent();
    });
    
    function initPageEvent() {
        //资源类型
        $("#res_type").on('change', function (event) {
            event.preventDefault();
            $("#res_url").removeAttr('readonly');
            var value = $(this).val();
            if (parseInt(value) === 0){
                $("#res_url").val("#");
                $("#res_url").attr('readonly','readonly');
            }
        });

        //提交绑定
        $("#btn_ok").on('click', function (event) {
            event.preventDefault();
            var sysResBean = {
                icon:$("#res_icon").val(),
                name:$("#res_name").val(),
                url:$("#res_url").val(),
                type:$("#res_type").val(),
                parentId:parentId[0],
                sort:$("#res_sort").val(),
                nameSpace:$("#name_space").val(),
                status:$("input[type='radio'][name='res_status']:checked").val(),
                id : sysResId[0]
            };
            ajaxSub.reqData = sysResBean;
            ajaxSub.postData();
        });
    }

</script>
</html>