<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>首页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--css引入-->
        <link rel="stylesheet" th:href="@{css/min.css}" />
        <link rel="stylesheet" th:href="@{content/settings/style.css}" />

        <!--js引入-->
        <script type="text/javascript" th:src="@{js/libs/jquery/1.6/jquery.min.js}" src=""></script>
        <script type="text/javascript" th:src="@{js/libs/jqueryui/1.8.13/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{js/min.js}"></script>
        <script type="text/javascript" th:src="@{content/settings/main.js}"></script>
    </head>
    <body>
        <div>
            <h1><img src="img/icons/dashboard.png" alt="" /> Dashboard</h1>
                首页
        </div>
    </body>
</html>