<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>主页</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <!--css引入-->
        <link rel="stylesheet" th:href="@{css/min.css}" />
        <link rel="stylesheet" th:href="@{content/settings/style.css}" />

        <!--js引入-->
        <script type="text/javascript" th:src="@{js/libs/jquery/1.6/jquery.min.js}" src=""></script>
        <script type="text/javascript" th:src="@{js/libs/jqueryui/1.8.13/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{js/min.js}"></script>
        <script type="text/javascript" th:src="@{content/settings/main.js}"></script>
    </head>
    <body>

        <!--hed 头部-->
        <div id="head">
            <div class="left">
                <a href="#" class="button profile"><img th:src="@{img/icons/top/huser.png}" alt="" /></a>
                Hi, 
                <a href="#">admin</a>
                |
                <a href="#">退出</a>
            </div>
            <div class="right">
                <form action="#" id="search" class="search placeholder">
                    <label>全局查询</label>
                    <input type="text" value="" name="q" class="text"/>
                    <input type="submit" value="rechercher" class="submit"/>
                </form>
            </div>
        </div>
                
                
        <!-- sidebar 左侧菜单 -->
        <div id="sidebar">
            <ul id="menus">
                <li class="current">
                    <a th:href="@{/index}">
                        <img src="img/icons/menu/inbox.png" alt="" />首页
                    </a>
                </li>
                <!--<li><a href="#"><img src="img/icons/menu/brush.png" alt="" /> Another submenu</a>-->
                    <!--<ul>-->
                        <!--<li><a href="#">Fake menu #1</a></li>-->
                        <!--<li><a href="#">Fake menu #2</a></li>-->
                        <!--<li><a href="#">Fake menu #3</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <script th:inline="javascript">
                    var currUserMenus = [[${currUserMenuRes}]];
                    var html = "";
                    function load(){
                        $.each(currUserMenus,function (index,userMenu) {
                            html =  html + '<li><a href="#"><img src="/img/icons/menu/layout.png" alt="" />'+userMenu.name+'</a>';
                            html = html + f(userMenu, '');
                            html = html + '</li>';
                        });
                        $("#menus").append(html);
                        console.log(html);
                    }
                    function f(currMenuRes, html) {
                        if (currMenuRes.children.length > 0){
                            html = html + '<ul>';
                            var childrens = currMenuRes.children;
                            $.each(childrens,function (index,children) {
                                html = html + '<li><a href="javascript:void(0)" src="'+children.url+'" onclick="goToPage(this)">'+children.name+'</a>';
                                html = f(children,html);
                            });
                            html = html + '</li></ul>';
                        }
                        return html;
                    }
                    load();
                </script>
            </ul>
        </div>

        <!-- content 主页-->
        <div style="width: 100%;">
            <iframe name="myiframe" id="myiframe" th:src="@{/dashboard}"
                    frameborder="0" align="left" width="99%" height="800px" scrolling="auto" target="_blank">
                <p>你的浏览器不支持iframe标签</p>
            </iframe>
        </div>
    </body>
    <script th:inline="javascript">
        function goToPage(which) {
            var goWhere = $(which).attr("src");
            $("#myiframe").attr("src",goWhere);
            var currentLiTag = $(which).parent("li")[0];//当前li标签
            var liTags = $(which).parent("li").parent("ul").find("li");//当前同级所有li标签
            $.each(liTags,function (index,tag) {
                if(tag !== currentLiTag){
                    var current_y = $(tag).hasClass("current");
                    if(current_y){
                        $(tag).removeClass("current");
                    }
                }else{
                    var current_n = $(tag).hasClass("current");
                    if(!current_n){
                        $(tag).addClass("current");
                    }
                }
            })
        }
    </script>
</html>